body {
  margin: 0;
  font-family: $my-font;
  color: #5c5c5c;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

a {
  text-decoration: none;
  font-family: $header-font;
  text-transform: uppercase;
}