---
title: Restaurant Le Homard Bleu
---

<div class="hb-container">
  <div class="carousel">
    <div class="banner" style="background-image:linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 50%), url(<%= image_path 'photo2.jpg' %>)">
      <%#= image_tag 'photo2.jpg' %>
    </div>
    <div class="banner" style="background-image:linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 50%), url(<%= image_path 'photo11.jpg' %>)">
      <%#= image_tag 'photo11.jpg' %>
    </div>
    <div class="banner" style="background-image:linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 50%), url(<%= image_path 'photo10.jpg' %>)">
      <%#= image_tag 'photo10.jpg' %>
    </div>
  </div>
</div>


<div class="bg-blue text-center padded" id="cuisine">
  <h1>Le homard bleu</h1>
  <h2>cuisine terre et mer</h2>
  <p>
    Ayant fait le choix de démocratiser les fruits de mer le restaurant vous propose une sélection rigoureuse de crustacés préparés avec soin dont la saveur n’a d’égal que leur qualité.
  </p>

  <p>
    Cuisine terre et mer, vous pourrez également déguster « la côte de boeuf de 1,2kg exceptionnelle et délicieuse, garnie au choix. Les plats du jour et desserts originaux combleront les gourmands.   
  </p>
  <div class="button-container">
    <%= link_to 'Voir la carte', '/doc/menu_automne.pdf', target: 'blank' %>
  </div>

</div>
